body {
  background: linear-gradient(120deg, rgb(0, 150, 250) 0%, rgb(80, 185, 255) 100%);
  color: white;
  min-height: 100vh;
}

img {
  width: 30%;
  margin: 1rem 35%;
}

p {
  font-size: 1.2rem;
}

.card {
  color: black;
}

.card img {
  margin: 1rem 10%;
  width: 80%;
}

#alertDiv {
  display: none;;
}

#successDiv {
  display: none;
}